html{
	height: 100%;
	margin: 0;
}


body{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	background-color: #ffffff;
}
.error{
			border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
			color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
}

/* Website Title */
.container{
	color: #000000;
    padding: 20px;
	display: block;
	text-align: center;
}

.container-heading{
    margin: 0;
}

.heading_first{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.heading_second{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
}

.description p{
    font-style: italic;
    font-size: 12px;
	font-weight: 100;
    margin: 0;
}

/* Prediction Area */
/* .prediction-area{
	position: relative;
	display: flex;
	justify-content: space-evenly;
	padding: 20px 40px;
} */


.div2, .results{
	
	margin: auto;
	width: auto;
	height: 429px;
	text-align: center;
}


.image-width{
	height: 429px;
}





.image-container{
	position: relative;
	float: none;
}

/* Form */
.form-input{
	background-color: #E9E9E9;
	margin: auto;
	width: 370px;
	height: 30px;
	border-radius: 3px;
	border: 0;
	text-align: center;
	-webkit-box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	margin-bottom: 15px;
}

.align-center{
	padding: 0 30px;
}

/* Predict Button */
.myButton {
	background-color:#ff9d9d;
	border-radius: 20px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 30px;
	margin-top: 10px;
	text-decoration:none;
	transition: 0.5s ease-out;
}

.myButton:hover{
	background-color: #140b0b;
	color: #ffffff;
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	outline: none;
}

.myButton:active {
	position:relative;
	top:1px;
}

/* Footer */
.footer{
	background-color: #E9E9E9;
	color: #000000;
	padding: 12px;
    text-align: center;
}

.contact-icon{
	color: #000000;
	padding: 7px;
}

.contact-icon:hover{
	color: #a6a19a;
}

.footer-description{
	margin: 0;
	font-size: 12px;
	font-weight: 100;
}

/* Result */
.results{
  
  width: auto;
  height: 429px;
  line-height: 400px;
  text-align: center;
}

.danger{
    color: #ff0000;
}

.safe{
    color: green;
}

.gif{
	width: 25%;
}

.gif1{
	width: 40%;
}
